body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: sans-serif;
    font-size: 18px;
}

.registration-form,
.direction {
    text-align: center;
}

.section1,
.section2,
.section3,
.submit {
    padding-left: 23%;
    padding-top: 1%;
    padding-bottom: 4%;
    display: block;
}

.registration-form {
    padding-top: 3%;
}

.direction {
    padding-top: 2%;
}

.section2,
.section3 {
    padding-top: 4%;
    padding-bottom: 5%;
}

input[type=text],
input[type=email],
input[type=password],
input[type=file],
.Select {
    width: 70%;
    padding: 8px;
    box-sizing: border-box;
    background-color: #0f0f1a;
    border-style: none;
}

textarea {
    width: 60%;
    height: 150px;
}

.personal,
.business,
.agreement {
    display: inline;
}

input[type=submit] {
    width: 30%;
    padding: 10px;
    margin-left: 20%;
}

input[type=radio],
input[type=checkbox] {
    margin: 10px;
}